# See https://help.github.com/ignore-files/ for more about ignoring files.

# IDE settings
.idea/
wechat-miniprogram/vant/
wechat-miniprogram/cloudfunctions/**/node_modules
wechat-miniprogram/src/node_modules

server/client-service/node_modules
server/redis/redis-5.0.7
server/client-service/notification-engine/test.js
server/client-service/notification-engine/test1.js
server/info-core/test.py

captcha_recongnition/node_modules
captcha_recongnition/download/*
captcha_recongnition/notinuse_images/*
captcha_recongnition/recongnized_images/*
captcha_recongnition/unrecongnized_images/*

geckodriver.log
**/.DS_Store
.DS_Store
