# See https://help.github.com/ignore-files/ for more about ignoring files.

# IDE settings
.idea/
notes/
wechat-miniprogram/vant/
wechat-miniprogram/cloudfunctions/seatInfoByCity/node_modules
server/client-service/node_modules
server/redis/redis-5.0.7
server/client-service/notification-engine/test.js
server/client-service/notification-engine/test1.js
|